<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess Who Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <!-- Section for displaying character cards -->
        <div id="cards-section">
            <div id="cards">
                {% for character in characters %}
                    <div class="card" id="{{ character.name }}">
                        <h2>{{ character.name }}</h2>
                        <img src="{{ url_for('static', filename=character.image) }}" alt="{{ character.name }}" class="character-image">
                    </div>
                {% endfor %}
            </div>
            <!-- Section for asking and answering questions -->
            <div id="question-container">
                <div id="ask-question">
                    <h2>Ask a Question</h2>
                    <form id="question-form">
                        <input type="text" id="question" name="question" placeholder="Ask a question">
                        <button type="submit" id="ask-button">Ask</button>
                    </form>
                    <div id="response"></div>
                </div>
                <div id="answer-question">
                    <h2>Answer the Question</h2>
                    <div id="robot-question"></div>
                </div>
            </div>
        </div>
        <!-- Section for displaying the decision tree -->
        <div id="decision-tree-sectio">
            <div id="decision-tree"></div>
            <svg width="1300" height="1000"></svg>
        </div>
    </div>
    <!-- Section for displaying justifications -->
    <div id="justifications">
        <h2>Justifications</h2>
        <ul id="justification-list"></ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.1.1/d3.min.js"></script>
    <script src="{{ url_for('static', filename='create_decision_tree.js') }}"></script>
    <script>
        document.getElementById('question-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const question = document.getElementById('question').value;
            const askButton = document.getElementById('ask-button');
            const questionInput = document.getElementById('question');
            askButton.disabled = true;
            questionInput.disabled = true;
            fetch('/ask', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ question: question })
            })
            .then(response => response.json())
            .then(data => {
                const allCharacters = document.querySelectorAll('.card');
                allCharacters.forEach(card => {
                    if (!data["remaining_characters"].some(character => character.name === card.id)) {
                        card.classList.add('faded');
                    }
                });
                console.log(data["decision_tree"]);
                updateJustifications(data["remaining_characters"]);
                console.log(data["max_gain"]);
                createDecisionTree(data["decision_tree"], data["max_gain"]);
                document.getElementById('response').innerText = `Response: ${data.response}`;
                document.getElementById('robot-question').innerHTML = `
                    <p>${data.robot_question}</p>
                    <button id="yes-button">Yes</button>
                    <button id="no-button">No</button>
                `;
                document.getElementById('yes-button').addEventListener('click', () => processAnswer(data.robot_question, data.attribute, data.value, data.max_gain, 'yes', ));
                document.getElementById('no-button').addEventListener('click', () => processAnswer(data.robot_question, data.attribute, data.value, data.max_gain, 'no'));
            })
        });

        // Function to process the player's answer to the robot's question
        function processAnswer(robot_question, attribute, value,  max_gain, response) {
            fetch('/process_answer', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ robot_question: robot_question, attribute: attribute, value:value, max_gain: max_gain, response: response })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                // Handle the response from process_answer route
                document.getElementById('robot-question').innerHTML = '';
                console.log(data.response);
                document.getElementById('question').disabled = false;
                document.getElementById('ask-button').disabled = false;
                document.getElementById('question').value = '';
            });
        }

        // Function to update the justifications section
        function updateJustifications(data) {
            const justificationList = document.getElementById('justification-list');
            justificationList.innerHTML = '';
            data.forEach(character => {
                const listItem = document.createElement('li');
                listItem.textContent = `${character.name}: ${character.justification}`;
                justificationList.appendChild(listItem);
            });
        }
    </script>
</body>
</html>
